{% extends 'base.html' %}

{% block content %}

<section class="dashboard-hero">


<div class="dashboard-hero-content">

    <h1>
        Welcome Back, {{ user.username }} 👋
    </h1>

    <p>
        Manage your vehicles, monitor bookings,
        and grow your rental business with RentX.
    </p>

</div>


</section>

<div class="stats-grid">


    <div class="card stat-card">

        <div class="stat-icon">
            🚗
        </div>
    
        <h3>Total Vehicles</h3>
    
        <p class="stat-number">
            {{ total_vehicles }}
        </p>
    
    </div>
    
    <div class="card stat-card">
    
        <div class="stat-icon">
            ✅
        </div>
    
        <h3>Available Vehicles</h3>
    
        <p class="stat-number">
            {{ available_vehicles }}
        </p>
    
    </div>
    
    <div class="card stat-card">
    
        <div class="stat-icon">
            📅
        </div>
    
        <h3>Total Bookings</h3>
    
        <p class="stat-number">
            {{ total_bookings }}
        </p>
    
    </div>
</div>

<h2>Recent Vehicles</h2>

{% if cars %}


<div class="featured-grid">

    {% for car in cars %}

    <div class="card">

        <h3>{{ car.title }}</h3>
    
        <p>
            {{ car.location }}
        </p>
    
        <p>
            ₦{{ car.price_per_day }} / day
        </p>
    
        <a
            href="{% url 'edit_listing' car.id %}"
            class="btn"
        >
            Edit Listing
        </a>
    
    </div>
    
    {% endfor %}

</div>


{% else %}


<div class="card">
    You haven't listed any vehicles yet.
</div>

<br>

    <a
        href="{% url 'become_host' %}"
        class="btn"
    >
        Become a Host
    </a>




{% endif %}

<h2>Recent Bookings</h2>

{% if bookings %}

<div class="featured-grid">

    {% for booking in bookings %}

        <div class="card">

            <p>
                <strong>Reference:</strong>
                {{ booking.booking_reference }}
            </p>

            <p>
                <strong>Vehicle:</strong>
                {{ booking.car.title }}
            </p>

            <p>
                <strong>Customer:</strong>
                {{ booking.first_name }}
                {{ booking.last_name }}
            </p>

            <p>
                <strong>Pickup:</strong>
                {{ booking.pickup_date }}
            </p>

            <p>
                <strong>Return:</strong>
                {{ booking.return_date }}
            </p>

            <a
                href="{% url 'booking_details' booking.id %}"
                class="btn"
            >
                View Booking
            </a>

        </div>

    {% endfor %}

</div>

{% else %}

<div class="card">

    <p>
        No bookings yet.
    </p>

    <br>

    <p>
        Bookings will appear here when customers reserve your vehicles.
    </p>

</div>

{% endif %}

{% endblock %}