{% extends 'base.html' %}

{% block content %}

<section class="edit-listing-section">

    <div class="edit-listing-card">

        <h1>Edit Vehicle</h1>

        <p class="edit-listing-intro">
            Update the details of your vehicle listing below.
        </p>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <label>Vehicle Title</label>

            <input
                type="text"
                name="title"
                value="{{ car.title }}"
                required
            >


            <label>Location</label>

            <input
                type="text"
                name="location"
                value="{{ car.location }}"
                required
            >


            <label>Price Per Day</label>

            <input
                type="number"
                name="price_per_day"
                value="{{ car.price_per_day }}"
                required
            >


            <label>Replace Image</label>

            <input
                type="file"
                name="image"
            >


            <div class="availability-option">

                <label>

                    <input
                        type="checkbox"
                        name="available"
                        {% if car.available %}
                            checked
                        {% endif %}
                    >

                    Available

                </label>

            </div>


            <button
                type="submit"
                class="btn"
            >
                Update Listing
            </button>

        </form>

    </div>

</section>

{% endblock %}